<!DOCTYPE html>
<html lang="en">
<head>
  <title>kiosk-cp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body> 
 
<div class="container">
  <h2>Kiosk Control-Panel</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Event Controls</div>

        <div class="panel-body">
          <form method=post>
            <a href="#event01"></a>
            {{ form.event01(class="btn btn-primary", id="event01")}}
          </form>
        </div>
        <div class="panel-body">
          <form method=post>
            <a href="#event02"></a>
            {{ form.event02(class="btn btn-primary", id="event02")}}
          </form>
        </div>
        <div class="panel-body">
           <form method=post>
            <a href="#event03"></a>
            {{ form.event03(class="btn btn-primary", id="event03")}}
          </form>
        </div>
        <div class="panel-body">
           <form method=post>
            <a href="#event04"></a>
            {{ form.event04(class="btn btn-primary", id="event04")}}
          </form>
        </div>
        <div class="panel-body">
           <form method=post>
            <a href="#event05"></a>
            {{ form.event05(class="btn btn-primary", id="event05")}}
          </form>
        </div>

    <div class="panel-footer ">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <h4 style="color: green;"> {{ message }} </h4>
          {% endfor %}
        {% endif %}
      {% endwith %}

    </div>
      

  </div>
</div>
<!--End of Button Panel-->
<div class="container">   
  <div class="panel panel-default">
    <div class="panel-heading">Server Controls</div>

        <div class="panel-body">
          <form method=post>
            <a href="#activate"></a>
            {{ form.activate(class="btn btn-success", id="activate")}}
          </form>
        </div>
      

  </div>
</div>




</body>
</html>
