<!DOCTYPE html>
<html lang="en">
<head>
  <title>kiosk-cp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body> 
 
<div class="container">
  <h2>Kiosk Control-Panel</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Event Controls</div>

        <div class="panel-body">
          <form method=post>
            {{ form.event01(class="btn btn-primary")}}
          </form>
        </div>
        <div class="panel-body">
          <form method=post>
            {{ form.event02(class="btn btn-primary")}}
          </form>
        </div>
        <div class="panel-body">
           <form method=post>
            {{ form.event03(class="btn btn-primary")}}
          </form>
        </div>
        <div class="panel-body">
           <form method=post>
            {{ form.event04(class="btn btn-primary")}}
          </form>
        </div>
        <div class="panel-body">
           <form method=post>
            {{ form.event05(class="btn btn-primary")}}
          </form>
        </div>

  </div>
</div>
<!--End of Button Panel-->
<div class="container">   
  <div class="panel panel-default">
    <div class="panel-heading">Server Controls</div>

        <div class="panel-body">
          <form method=post>
            {{ form.activate(class="btn btn-success btn-block")}}
          </form>
        </div>
        <div class="panel-body">
          <form method=post>
            {{ form.deactivate(class="btn btn-danger btn-block")}}
          </form>
        </div>
      
   

  </div>
</div>



</body>
</html>
